/* 
    Document   : style
    Created on : 6-nov-2013, 13:51:37
    Author     : jan
    Description:
        Purpose of the stylesheet follows.
*/
.film{
	width: 30em;clear:both;
	padding:1em 0;
	border-bottom:2px solid silver;
	}
.film img {float:left; margin-right:2em;}
.film .kol {margin-left:12em;}
.film h2 {margin-top:0;}
.film dl{overflow:auto;width: 100%; list-style:none}
.film dt{display:inline; width: 30%; clear:left; float:left; font-weight:bold}
.film dd{display:inline; width: 65%; clear:right; float:right; margin:0}


